<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <h1 class="text-center title-1"> Lista de Usu&aacute;rios </h1>
 <ul>
 <% userlist.forEach(function(user){ %>
 <li><a href="mailto:<%= user.email %>"><%= user.username %></a></li> 
 <li><%= user.password%>  </li>
 <%})%>
 </ul>
 <button id="myButton">Click me!</button>
</body>
</html>